<html>
    <head>
        <title>Welcome</title>
    </head>


<h2> Welcome to Quoting Dojo</h2>
<form action = "/quotes" method = 'post'>
Your name: <input type ="text" name = "name">

Your quote: <input type = "text" name = "quote"> 


<input type= "submit" value = 'Add my quote!'>
</form>
<form action = "/quotes">
<input type= "submit" value = 'Skip to quotes'>
</form>


</html>


