<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hello Cats</title>
  </head>
  <body>
    <h1>Hello Cats</h1>
<a href="/cuddles">
    <img id="Img" src="cat.jpg" height = 200px width = 300 px /></a>	
<a href="/cuddles1"><img id="Img" src="cat1.jpg" width = 300px height= 200px/> </a>
<a href="/cuddles2"><img id="Img" src="cat3.jpg"/> </a>
<p>This is a cats  web page.</p>
</body>
</html>

