<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Edit Job</title>
        <meta name="description" content="">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='editjob.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        
            <p  >Hello Jon! Lets edit your job!!</p>
            
            <div id="title">
                    <form action = "/submit" method = "post">
                Title:<input type=text name = "title" value= "Move couch">
                Description:<input type=text name = "description" value= "It's really heavy">
                Location:<input type=text name = "location" value= "1600 Pennsylvania Ave.">
            </div>
            <div>
                     <a href = "/editjob"></a><button>Cancel</button></a>
                    <input type=submit name = submit value= "submit">
                    </form>
            </div>
        
        <script src="" async defer></script>
    </body>
</html>