<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Handy Helper Dashboard</title>
        <meta name="description" content="">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="top">
            <p  >Hello {{session["name"]}}! These are the job details!</p>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        
        </div>
        <div>
            <p>{{query_result[0]["title"]}}</p>
            <p>{{query_result[0]["location"]}}</p>
            <p>Posted by:{{session["name"]}}</p>
            <p>Posted on:{{query_result[0]["created_at"]}}</p>
            <p>Categories: pet care, exercise</p>
        </div>
        <div></div>
        
        <script src="" async defer></script>
    </body>
</html>