<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <form action="/process" method="POST">
            <input id="mytext" text="text" name="Email">
            <input id="mytext" type="text" name="username">
            <input id="mytext" type="text" name="password">
            <input id="mybutton" type="submit" value="submit">
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {%for message in messages %}
                    <p> {{message}}</p>
                {%endfor %}
            {%endif %}
        {%endwith %}
            
        <!-- "fn":request.form["First Name"] -->
        </form>
        <script src="" async defer></script>
    </body>
</html>