	<html>
<head>
<title>
This is the counter page.
</title>
</head>
<body>
<h1> Counter </h1>
<%= counter %>
<form action="/plustwo" method=post>
<button type=submit> Press for +2 </button>
</form>
<form action ="/reset" method= post>
<button type=submit> RESET </button>
</form>
</body>


</html>
