<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<!-- linking a css style sheet -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mystyle.css') }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dojo Survey Index</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>   
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="columns">
            <p>Your Name:</p>
            <p>Dojo Location:</p>
            <p>Favorite Language:</p>
        </div>

        <div  id ="column2">
        <form id = "form1" action='/result', method="POST")>
            <input type="text" name="yname"><br>
          <select id = "location" name="location">
            <option value="San Jose" name="San Jose">San Jose</option>
            <option value="Seattle" name="Seattle">Seattle</option>
            <option value="San Francisco" name="San Francisco">San Francisco</option>
            <option value="New York" name="New York">New York</option>
            <option value="New Jersey" name="New Jersey">New Jersey</option>
            <option value="DC" name="DC">DC</option>
            <option value="Huntsville" name="Huntsville">Huntsville</option>
            <option value="Sacramento" name="Sacremento">Sacremento</option>
          </select>
          <select name="language" id = "language">
            <option value="Python">Python</option>
            <option value="Javascript">Javascript</option>
            <option value="Java">Java</option>
            <option value="C#">C#</option>
            <option value="C++">C++</option>
            <option value="Bash">Bash</option>
            <option value="JQuery">JQuery</option>
            <option value="Selenium">Selenium</option>
          </select>
          </div>
          <div id = "comments">
              <p>Comments:</p>
                <textarea cols="40" rows="5" name="mycomments">
                        Now we are inside the area - which is nice.
                </textarea>    
              <br>
              <input type="submit" name= Submit>
            </form>
          </div>
        <script src="" async defer></script>
        
    </body>
</html>